.maindiv {
    background: linear-gradient(9deg, rgba(0, 0, 0, 1) 10%, #202020 75%);
    padding: 0em 2em !important;
}

.h6card {
    font-size: 0.8em;
    font-weight: bold;
}
.nascondi {
    position: absolute;
    right: 30px;
    top: 25px;
    font-size: 0.7em;
    border-radius: 50px;
    color: grey;
    font-weight: bold;
    background-color: #272727;
    border: none;
    letter-spacing: 1px;
    padding: 7px 20px;
}
.home {
    margin-top: 5.5em;
}
.h2home {
    font-size: 3.5em;
    font-weight: bold;
}
.bplay {
    background-color: #1ed760;
    border: 0;
    border-radius: 50px;
    width: 95px;
    height: 45px;
    font-weight: bolder;
    margin-right: 15px;
}
.bsalva {
    background-color: transparent;
    color: white;
    border: 1px solid #5d5d5d;
    border-radius: 50px;
    font-size: 0.8em;
    width: 95px;
    height: 50px;
    font-weight: bold;
    margin-right: 20px;
}
.binfo {
    background-color: transparent;
    color: #5d5d5d;
    border: 0;
    border-radius: 50px;
    width: 50px;
}
.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body {
    max-width: calc(100% - 1rem);
}
.emily {
    font-weight: bold;
}
@media screen and (min-width: 1455px) {
    .card-title {
        white-space: normal;
        overflow: visible;
        text-overflow: clip;
    }

    .card-body {
        max-width: 100%;
    }
}
.hideCard {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}
@media (min-width: 1400px) {
    .hideCard {
        visibility: visible;
        opacity: 1;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .hideCard2 {
        visibility: hidden;
        opacity: 1;
    }
}
.nascondi2 {
    font-size: 0.6em;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    background-color: #121212;
    border: none;
    letter-spacing: 1px;
    padding: 7px 20px;
}
/* roba mobile*/
.prova {
    display: none !important;
    width: 17% !important;
    margin-left: 15px;
}
.musica{
    margin-left: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 0.9em;
    border-radius: 50px;
    color: white;
    background-color: #161616;
    border: none;
    padding: 8px 25px;
    display: none !important;
}
@media (max-width: 767px) {
    .maindiv {
        background: linear-gradient(180deg, #121212 9%, #202020 75%);
    }

    .buonasera {
        margin-top: 5.3rem;
    }
    .buonasera h1 {
        font-size: 2.5em;
    }
    .bi {
        margin-top: 5.8em;
        margin-bottom: 3em;
    }
    .nascondiAltro{
        display: none !important;
    }
    .musica{
        display: block !important;
    }
}
@media (max-width: 1199px) {
    .prova {
        display: block !important;
    }
    .nascondiAltro{
        display: none !important;
    }
    .musica{
        display: block !important;
    }
}

/****************************************************************/
body {
    font-family: "Circular", sans-serif;
    font-weight: bold;
}
.sidebar {
    left: 0;
    top: 0;
    bottom: 0;
    padding: 24px;
}

.sidebar .navigation ul {
    list-style: none;
}

.sidebar .navigation ul li {
    padding: 10px 0px;
}

.sidebar .navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
}

.sidebar .navigation ul li .fa {
    font-size: 20px;
    margin-right: 10px;
    position: relative;
    top: 100;
}

.sidebar .navigation ul li a:hover {
    color: #ffffff;
}

.sidebarAlbums {
    color: #b3b3b3;
    font-size: 12px;
    overflow-y: scroll;
    height: 785px;
}

.navigation {
    margin-left: -30px;
}

.sidebar {
    margin-top: -10px;
}

.sidebarAlbums::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
}
.sidebarAlbums::-webkit-scrollbar-track {
    border-radius: 10px;
    border: 1px solid #cacaca;
    background-color: #f1f1f1;
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}
.sidebarAlbums::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.5, #a520ca),
        color-stop(1, #2681cc)
    );
    border-radius: 10px;
}

#barra {
    color: gray;
}

.sidebar2 {
    padding-left: 7px;
    padding-right: 10px;
    color: #b3b3b3;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.contenitore1 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

h3 {
    font-size: 15px;
}
.contenitore2 img {
    border-radius: 50px;
    margin-right: 10px;
}

.contenitore2 {
    font-size: 10px;
    display: flex;
    padding: 30px 0px;
}

.music {
    margin-top: -10px;
}

.bg-grandient {
    background: linear-gradient(
        0deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(221, 192, 79, 1) 100%
    );
}
