/*CUSTOM STYLE*/
body {
    font-family: "Circular", sans-serif;
    font-weight: bold;
    
    
}
.sidebar {
    
    left: 0;
    top: 0;
    bottom: 0;
    padding: 24px;
}


.sidebar .navigation ul {
    list-style: none;
    
}

.sidebar .navigation ul li {
    padding: 10px 0px;
}

.sidebar .navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
}

.sidebar .navigation ul li .fa {
    font-size: 20px;
    margin-right: 10px;
    position: relative;
    top: 100;
}

.sidebar .navigation ul li a:hover {
    color: #ffffff;
}

.sidebarAlbums {
    color: #b3b3b3;
    font-size: 12px;
    overflow-y: scroll;
    height: 785px;
}

.navigation {
    margin-left: -30px;
}

.sidebar {
    margin-top: -60px;
}

.sidebarAlbums::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
    }
    .sidebarAlbums::-webkit-scrollbar-track {
    border-radius: 10px;
    border: 1px solid #cacaca;
    background-color: #f1f1f1;
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    }
    .sidebarAlbums::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, #a520ca), color-stop(1, #2681cc));
    border-radius: 10px;
    }


#barra {
    color: gray;
}

.sidebar2 {
    padding-left: 7px;
    padding-right: 10px;
    color: #b3b3b3;;  
}

h2 {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.contenitore1 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

h3 {
    font-size: 15px;
}
.contenitore2 img {
    border-radius: 50px;
    margin-right: 10px;
}

.contenitore2 {
    font-size: 10px;
    display: flex;
    padding: 30px 0px;
}

.bi {
    margin-right: 5px;
}

.music {
    margin-top: -10px;
}


.bg-grandient{
    background: linear-gradient(0deg, rgba(0,0,0,1) 51%, rgba(224,193,80,1) 100%);
}

/*firstDiv*/

#banner-artist p{
    font-size: 0.5rem;
}

#banner-artist img{
    margin-left: 2px;   
}

#banner-artist svg{
    transform: rotate(270deg);

}

/*secondDiv*/

#titleMain h1{
    font-size: 4em;
    font-weight: bolder;
}

@media screen and (max-width: 700px) {
    #titleMain h1{
        font-size: 1.5em;
    }
    
  }

.custom-svg-left{
    transform: rotate(90deg);
}

#dscAlbum p:last-child{
    font-size: 0.8rem;
}

.img-alb-size {
    width: 80%;
    box-shadow: 1px 0px 26px 1px #6E6E6E;
    
}

@media screen and (max-width: 766px) {
    .img-alb-size {
        width: 100%;
        margin-bottom: 20px;
}
}

@media screen and (min-width: 767px) {
    .me-5 {
    margin-left: -60px;
}
}

.r-icon-color{
    color: #B4B3B0;
}

.r-icon-play-green {
    width: 45px;
    height: 45px;
    background-color: #006402;
    color:white;
}

/*GRIGLIA CON LISTA BRANI*/

.text-grid {
    font-size: 0.8rem;
    color:#92918B;
}

/*FOOTER marco mobile*/

.riproduzione{
    background-color: rgb(57, 57, 57);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    font-size: 1.8em;
    margin: 0 2%;
}

.riproduzione p{
    align-items: center;
    margin: 0;
    padding: 0 10%;
    margin-right: 15%;
    white-space: nowrap;
}

.riproduzione svg{
    width: 5%;
    margin: 0 2%;
}

.riproduzione .play{
    width: 7%;
}

.menuNavigazione{
    display: flex;
    justify-content: center;
    padding: 5%;
    background: rgb(34,34,34);
background: linear-gradient(180deg, rgba(34,34,34,0.8128501400560224) 0%, rgba(0,0,0,0.9473039215686274) 52%);
}

.menuNavigazione div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
}

.menuNavigazione div a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    margin-top: 1%;
}

.menuNavigazione svg{
    width: 20%;
    cursor: pointer;
}


.libreria{
  transform: rotate(270deg);
}

.menuNavigazione div:hover,
.menuNavigazione div:active{
   opacity: 1;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.riproduzione div{
    overflow: hidden;
    width: 60%;
}

.riproduzione p {
    animation: moveRightToLeft 5s linear infinite; 
}


  @keyframes moveRightToLeft {
    0% {
      transform: translateX(-150%);
    }
    100% {
      transform: translateX(110%); 
    }

  }

  .r-color-footer{
    color:#F5F5F5;
  }
.r-f-size{
    font-size: 1rem;
}

body > footer.d-md-none > div.riproduzione > svg.bi.bi-speaker{
    color: #F5F5F5;
}

/*Footer igor desktop*/

#pauseButton {
    background-color: rgb(30, 215, 96);
    border-radius: 50px;
}



.grayFiltered {
    filter: invert(0.5) sepia(70) saturate(0) hue-rotate(0);
}

.songName, .footerPlayerLeftSongName {
    font-weight: 100;
    font-size: 15px;
    color: white;
}

.footerPlayerLeftSongName {
    width: 200px;
}
.footerPlayerLeftSongArtist{
    text-align: center;
}
.songArtist, .songAlbum, .songDateAdded, tr td:first-of-type, .songDuration, .footerPlayerLeftSongArtist {
    
    margin-top: 6px;
    color: #848485;
}

.footerPlayer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #181918;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
}

.footerPlayerLeftLike {
    padding-left: 30px;

}

.footerPlayerLeft {
    display: flex;
    align-items: center;
}

.footerPlayerLeftLike img {
    width: 21px;
    height: 21px;
}

.footerPlayer > div > img {
    padding-right: 30px;
    
}
.footerPlayerMiddle {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footerPlayerMiddleButtons {
    display: flex;
    justify-content: center;
}

.footerPlayerMiddleButtons img {
    width: 50px;
    padding: 15px;
}

.pauseButton {
    position: relative;
    display: inline-block;
    width: 36px !important;
    height: 36px !important;
    background-color: var(--spotify-color) !important;
    border-radius: 50%;
    margin: 0 8px;
    top: 4px;
    
}

.pauseButton img {
    position: relative;
    width: 204px !important;
    height: 24px !important;
    filter: none !important;
    left: -4px;
    top: -4px;
}

.playerSlider input {
    
    width: 40vw;
    height: 5px;
    background-color: gray;
    border-radius: 5px;
    position: relative;
    border: none;
}

.footerPlayerMiddleSlider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playerTime {
    padding: 0 10px;
    color: #cacaca;
}

.footerPlayerRight input {
    width: 80px;
    position: relative;
    margin-right: 10px;
    top: -3px;
}

.footerPlayerRightButtons {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

.footerPlayerRightButtons img {
    width: 16px;
    height: 16px;
    margin-right: 16px;
}

.pinko p {
    animation: moveRightToLeft 5s linear infinite;
    overflow: hidden;
    white-space: nowrap; 
    margin: 0;
}


@keyframes moveRightToLeft {
    0% {
      transform: translateX(-150%);
    }
    100% {
      transform: translateX(110%); 
    }
}

.pinko div {
    overflow: hidden;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}


/*artista-page*/

.r-bg-img{
    height: 350px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;  
}



.r-bg-sfondo {
    background: linear-gradient(9deg, rgba(0, 0, 0, 1) 10%, #202020 75%);
    height: 1200px;
}

#rIdArtist h1{
    font-size: 5em;
}

@media screen and (max-width: 700px) {
    #rIdArtist h1{
        font-size: 2em;
    }
}



